<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cxgm.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions"></uses-permission>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.view.common.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.common.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.goods.SearchActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.goods.SearchResultActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.goods.GoodsDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.goods.GoodsSecondClassifyActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.order.NewAddrActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.order.MapLocationActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.order.AddrListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.order.GoodsListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.order.AddrOptionActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.order.VerifyOrderActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.user.InviteActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.order.UserOrderActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.order.OrderDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.order.PayResultActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.order.InvoiceActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.user.CouponActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.user.LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.common.SettingsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.order.CouponOptionActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.order.OrderPayActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.goods.GoodsSpecificationDialogActivity"
            android:theme="@style/Theme.notAnimation"
            />
        <activity android:name=".ui.view.order.DeliveryTimeDialogActivity"
            android:theme="@style/AlphaGrayTheme"
            />
        <activity android:name=".ui.view.news.MessageListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.common.AboutActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.view.common.WebViewActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:theme="@style/AlphaGrayTheme"
            android:exported="true"
            android:launchMode="singleTop"/>
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"> </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="KevuKZ68Ny3gszdU1h4Y7Rc2ytTY9BPq" >
        </meta-data>

    </application>

</manifest>